/* CSS Document */
.left
{
background-image:url(../image/business-left-corner.jpg);
background-repeat:no-repeat;
width:8px;
height:8px;
}
.right
{
background-image:url(../image/business-right-corner.jpg);
background-repeat:no-repeat;
width:8px;
height:8px;
}
.topleft
{
background-image:url(../image/business-top-left.jpg);
background-repeat:no-repeat;
width:8px;
height:8px;
}
.topright
{
background-image:url(../image/business-top-right.jpg);
background-repeat:no-repeat;
width:8px;
height:8px;
}
.center
{
background-image:url(../image/business-bg0.jpg);
background-repeat:repeat-x;
height:8px;
}
.middle
{
background-image:url(../image/middlefoot.jpg);
background-repeat:no-repeat;
}
.home
{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#000000;
text-decoration:underline;
}
.home:hover
{
text-decoration:none;
}
.home1
{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#000000;
line-height:22px;
text-decoration:none;
}
.home1:hover
{
text-decoration:underline;
}

.topbg
{
background-image:url(../image/topbg.jpg);
width:190px;
height:31px;
}
.centerbg
{
background-image:url(../image/centerbg.jpg);
height:229px;
}
.main 
{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#000000;
padding-left:50px;
}

.bluebg
{
background-image:url(../image/bluebg.jpg);
width:180px
}
.text
{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#FFFFFF;
padding-left:20px;
font-weight:bold;
}
.orgbg
{
background-image:url(../image/orgbg.jpg);
width:154px;
height:20px;
}
.orgfootbg
{
background-image:url(../image/orgfootbg.jpg);
width:154px;
height:20px;
}
.orgcenter
{
background-image:url(../image/orgcenterbg.jpg);
height:74px;

background-repeat:repeat-y;
}
.online
{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#FFFFFF;
padding-left:30px;
font-weight:bold;
}
.lefttext
{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#000000;
padding-left:30px;
}
.centerbg1
{
background-image:url(../image/centerbg1.jpg);
height:745px;
}
.centerheading
{
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color:#0099CC;
padding-left:20px;
}
.writen
{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#000000;
padding-left:20px;
}
.matter
{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#000000;
padding-left:10px;
}
.footer1
{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#000000;
}
.footer
{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#000000;
text-decoration:none;
}
.footer:hover
{
text-decoration:underline;
}
.use
{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#ffffff;
padding-left:10px;
}
.greeting
{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#000000;
word-spacing:20px;
text-decoration:none;
}
.greeting:hover
{
color:#0000FF;
}
.homelink
{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#ffffff;
padding-left:20px;
word-spacing:30px;
text-decoration:none;
}
.homelink:hover
{
text-decoration:none;
}
.creat
{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#000000;
font-weight:300;
}
.blogbg
{
width:600px;
background-image:url(../image/blog-bg.jpg);
background-repeat:repeat-y;
}
.writen
{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#000000;
text-align:left;
}
.varius
{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#000000;
text-align:left;
}
.link1
{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#000000;
text-align:left;
text-decoration:underline;
}
.last
{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#000000;
text-align:left;
}
img
{
border:0px;
}